## Load Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import psycopg2
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

# Set plot style
try:
    plt.style.use('seaborn-v0_8-darkgrid')
except:
    plt.style.use('seaborn-darkgrid')
sns.set_palette('husl')

# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

## Connect to PostgreSQL Database

In [ ]:
# Database connection parameters
DB_PASSWORD = "tiger"
DB_CONFIG = {
    'dbname': 'ds_jobs',
    'user': 'postgres',
    'password': DB_PASSWORD,
    'host': 'localhost',
    'port': 5432
}

# Create SQLAlchemy engine for pandas integration
engine = create_engine(f'postgresql://{DB_CONFIG["user"]}:{DB_CONFIG["password"]}@{DB_CONFIG["host"]}:{DB_CONFIG["port"]}/{DB_CONFIG["dbname"]}')

# Create psycopg2 connection
conn = psycopg2.connect(**DB_CONFIG)
print("‚úì Database connection successful!")

## Dataset Overview

### First 5 rows of each table

In [ ]:
# Load data from tables
jobpostings = pd.read_sql("SELECT * FROM jobpostings LIMIT 5;", engine)
skills_table = pd.read_sql("SELECT * FROM skills_table LIMIT 5;", engine)
skill_categories = pd.read_sql("SELECT * FROM skill_categories LIMIT 5;", engine)
job_skill_mapping = pd.read_sql("SELECT * FROM job_skill_mapping LIMIT 5;", engine)

print("\n=== Job Postings ===")
display(jobpostings)

print("\n=== Skills Table ===")
display(skills_table)

print("\n=== Skill Categories ===")
display(skill_categories)

print("\n=== Job-Skill Mapping ===")
display(job_skill_mapping)

### Column Types and Structure

In [ ]:
jobpostings_full = pd.read_sql("SELECT * FROM jobpostings;", engine)
print(jobpostings_full.info())
print(f"\nDataset shapes:")
print(f"Job Postings: {jobpostings_full.shape}")
print(f"Skills: {pd.read_sql('SELECT COUNT(*) as count FROM skills_table', engine)['count'][0]} rows")
print(f"Skill Categories: {pd.read_sql('SELECT COUNT(*) as count FROM skill_categories', engine)['count'][0]} rows")
print(f"Job-Skill Mappings: {pd.read_sql('SELECT COUNT(*) as count FROM job_skill_mapping', engine)['count'][0]} rows")

---
# 5 Questions Answered

Each question is answered by querying data from the PostgreSQL database with joins across multiple normalized tables.

## Q1. What are the main technologies?

### Top 20 Most In-Demand Skills

In [ ]:
query = """
WITH SkillCount AS (
    SELECT st.skill,
    COUNT(jsm.jobid) AS job_count
    FROM job_skill_mapping jsm
    JOIN skills_table st ON jsm.skill_id = st.skill_id
    GROUP BY st.skill
)
SELECT skill, job_count
FROM SkillCount
ORDER BY job_count DESC
LIMIT 20;
"""

top20_skills = pd.read_sql(query, engine)

# Create visualization
fig, ax = plt.subplots(figsize=(10, 8))
bars = ax.barh(top20_skills['skill'], top20_skills['job_count'], color='firebrick')
ax.set_xlabel('Frequency', fontsize=12)
ax.set_ylabel('Skill', fontsize=12)
ax.set_title('Top 20 Skills', fontsize=14, fontweight='bold')
ax.invert_yaxis()

# Add value labels
for i, (skill, count) in enumerate(zip(top20_skills['skill'], top20_skills['job_count'])):
    ax.text(count + 100, i, str(count), va='center', fontsize=9)

plt.tight_layout()
plt.savefig('../output/top20_skills.png', dpi=400, bbox_inches='tight', facecolor='white')
plt.show()

display(top20_skills)

### Top 10 Skills by Category

In [ ]:
query = """
WITH SkillCount AS (
    SELECT sc.skill_category, st.skill,
    COUNT(jsm.jobid) AS job_count
    FROM job_skill_mapping jsm
    JOIN skills_table st ON jsm.skill_id = st.skill_id
    JOIN skill_categories sc ON st.skill_id = sc.skill_id
    GROUP BY sc.skill_category, st.skill
), 
RankedSkills AS (
    SELECT skill_category, skill, job_count,
    RANK() OVER (PARTITION BY skill_category ORDER BY job_count DESC) AS rank
    FROM SkillCount
)
SELECT skill_category, skill, job_count
FROM RankedSkills
WHERE rank <= 10
ORDER BY skill_category, rank;
"""

top10_by_cat = pd.read_sql(query, engine)

# Get unique categories
categories = top10_by_cat['skill_category'].unique()
n_categories = len(categories)

# Create subplots
fig, axes = plt.subplots(nrows=(n_categories + 1) // 2, ncols=2, figsize=(14, 5 * ((n_categories + 1) // 2)))
axes = axes.flatten()

colors = cm.tab10(range(n_categories))

for idx, category in enumerate(categories):
    cat_data = top10_by_cat[top10_by_cat['skill_category'] == category].sort_values('job_count', ascending=True)
    
    axes[idx].barh(cat_data['skill'], cat_data['job_count'], color=colors[idx])
    axes[idx].set_xlabel('Count', fontsize=10)
    axes[idx].set_title(f'{category}', fontsize=11, fontweight='bold')
    
    # Add value labels
    for i, (skill, count) in enumerate(zip(cat_data['skill'], cat_data['job_count'])):
        axes[idx].text(count + 50, i, str(count), va='center', fontsize=8)

# Hide empty subplots
for idx in range(n_categories, len(axes)):
    axes[idx].axis('off')

plt.suptitle('Top 10 Skills by Skill Category', fontsize=16, fontweight='bold', y=1.0)
plt.tight_layout()
plt.savefig('../output/top10_skill_cat.png', dpi=400, bbox_inches='tight', facecolor='white')
plt.show()

## Q2. What is the median salary for each job title?

In [ ]:
query = "SELECT job_title_short, salary_year_avg FROM jobpostings;"
salary_data = pd.read_sql(query, engine)

# Calculate median salary by job title
median_salaries = salary_data.groupby('job_title_short')['salary_year_avg'].median().reset_index()
median_salaries.columns = ['job_title_short', 'med_salary']
median_salaries = median_salaries.sort_values('med_salary', ascending=False)

# Create visualization
fig, ax = plt.subplots(figsize=(10, 6))
bars = ax.barh(median_salaries['job_title_short'], median_salaries['med_salary'], color='firebrick')
ax.set_xlabel('Median Salary (USD)', fontsize=12)
ax.set_ylabel('Job Title', fontsize=12)
ax.set_title('Median Salary for Each Role', fontsize=14, fontweight='bold')
ax.invert_yaxis()

# Format x-axis as currency
formatter = FuncFormatter(lambda x, pos: f'${x/1000:.0f}K')
ax.xaxis.set_major_formatter(formatter)

# Add value labels
for i, (title, salary) in enumerate(zip(median_salaries['job_title_short'], median_salaries['med_salary'])):
    ax.text(salary + 1000, i, f'${salary:,.0f}', va='center', fontsize=9)

plt.tight_layout()
plt.savefig('../output/med_salary_role.png', dpi=400, bbox_inches='tight', facecolor='white')
plt.show()

display(median_salaries)

### Top 20 Skills by Median Salary (by Category)

In [ ]:
query = """
SELECT sc.skill_category, st.skill, jp.salary_year_avg
FROM job_skill_mapping jsm
JOIN skills_table st ON jsm.skill_id = st.skill_id
JOIN skill_categories sc ON st.skill_id = sc.skill_id
JOIN jobpostings jp ON jsm.jobid = jp.jobid;
"""

skill_salaries = pd.read_sql(query, engine)

# Calculate statistics
skill_stats = skill_salaries.groupby(['skill_category', 'skill']).agg(
    med_salary=('salary_year_avg', 'median'),
    n=('salary_year_avg', 'count'),
    max_salary=('salary_year_avg', 'max'),
    min_salary=('salary_year_avg', 'min')
).reset_index()

# Filter skills with at least 50 job postings
skill_stats = skill_stats[skill_stats['n'] >= 50]

# Get top 20 skills per category
top20_per_cat = skill_stats.groupby('skill_category').apply(
    lambda x: x.nlargest(20, 'med_salary')
).reset_index(drop=True)

# Create subplots
categories = top20_per_cat['skill_category'].unique()
n_categories = len(categories)

fig, axes = plt.subplots(nrows=(n_categories + 1) // 2, ncols=2, figsize=(16, 6 * ((n_categories + 1) // 2)))
axes = axes.flatten()

colors = cm.tab10(range(n_categories))

for idx, category in enumerate(categories):
    cat_data = top20_per_cat[top20_per_cat['skill_category'] == category].sort_values('med_salary', ascending=True)
    
    axes[idx].barh(cat_data['skill'], cat_data['med_salary'], color=colors[idx])
    axes[idx].set_xlabel('Median Salary (USD)', fontsize=10)
    axes[idx].set_title(f'{category}', fontsize=11, fontweight='bold')
    axes[idx].set_xlim(70000, 185000)
    formatter = FuncFormatter(lambda x, pos: f'${x/1000:.0f}K')
    axes[idx].xaxis.set_major_formatter(formatter)
    
    # Add value labels
    for i, (skill, salary) in enumerate(zip(cat_data['skill'], cat_data['med_salary'])):
        axes[idx].text(salary + 1500, i, f'${salary:,.0f}', va='center', fontsize=7)

# Hide empty subplots
for idx in range(n_categories, len(axes)):
    axes[idx].axis('off')

plt.suptitle('Top 20 Skills by Median Salary per Category', fontsize=16, fontweight='bold', y=1.0)
plt.tight_layout()
plt.savefig('../output/top20skill_salary_cat.png', dpi=400, bbox_inches='tight', facecolor='white')
plt.show()

## Q3. Which industry field is asking for these roles?

In [ ]:
query = "SELECT industry FROM jobpostings WHERE industry IS NOT NULL;"
industry_data = pd.read_sql(query, engine)

# Count by industry
industry_counts = industry_data['industry'].value_counts().reset_index()
industry_counts.columns = ['industry', 'Count']

print(f"\nTotal industries: {len(industry_counts)}")
print(f"\nTop 20 Industries by Job Postings:")
display(industry_counts.head(20))

# Interactive table (if running in Jupyter)
display(industry_counts)

## Q4. What is the relation of location with respect to job postings and salary?

Analyzing Data Scientist salaries across US cities.

In [ ]:
query = """
SELECT job_location, salary_year_avg 
FROM jobpostings
WHERE job_country = 'United States' AND job_title_short = 'Data Scientist';
"""

location_data = pd.read_sql(query, engine)

# Extract city (first part before comma)
location_data['city'] = location_data['job_location'].str.split(',').str[0]

# Calculate stats by city
city_stats = location_data.groupby('city').agg(
    n=('salary_year_avg', 'count'),
    med_salary=('salary_year_avg', 'median')
).reset_index()

# Filter cities with at least 10 postings
city_stats = city_stats[city_stats['n'] >= 10]

# Remove non-specific locations
exclude_cities = ['Toronto', 'United States', 'Anywhere', 'California']
city_stats = city_stats[~city_stats['city'].isin(exclude_cities)]

city_stats = city_stats.sort_values('med_salary', ascending=False)

print("\nTop 15 Cities by Median Salary for Data Scientists:")
display(city_stats.head(15))

# Note: For map visualization, you'd need geocoding (lat/lon coordinates)
# The original R script uses tidygeocoder. In Python, you can use geopy or saved coordinates
print("\nüìç For geographic visualization, geocoding coordinates would be needed.")
print("The original creates a US map with city markers sized by job count and colored by salary.")

## Q5. Does remote/work from home give lower pay than onsite?

Comparing remote vs onsite salaries for Full-time US jobs by state.

In [ ]:
# Get onsite jobs
query_onsite = """
SELECT job_title_short, job_location, search_location, salary_year_avg 
FROM jobpostings
WHERE job_work_from_home = FALSE 
    AND job_country = 'United States' 
    AND job_schedule_type = 'Full-time';
"""

onsite = pd.read_sql(query_onsite, engine)

# Extract state from location
onsite['state'] = onsite['job_location'].str.split(',').str[-1].str.strip()
onsite['state'] = onsite['state'].str.replace(r'\s*\(.*?\)', '', regex=True)

# Normalize state abbreviations
state_mapping = {
    'NY': 'New York',
    'GA': 'Georgia',
    'FL': 'Florida',
    'IL': 'Illinois',
    'CA': 'California',
    'TX': 'Texas'
}
onsite['state'] = onsite['state'].replace(state_mapping)

onsite_agg = onsite.groupby(['state', 'job_title_short']).agg(
    n=('salary_year_avg', 'count'),
    med_salary=('salary_year_avg', 'median')
).reset_index()

# Get remote jobs
query_remote = """
SELECT job_title_short, job_location, search_location, salary_year_avg 
FROM jobpostings
WHERE job_work_from_home = TRUE 
    AND job_country = 'United States' 
    AND job_schedule_type = 'Full-time';
"""

remote = pd.read_sql(query_remote, engine)

# Extract state from search location
remote['state'] = remote['search_location'].str.split(',').str[0]

remote_agg = remote.groupby(['state', 'job_title_short']).agg(
    n=('salary_year_avg', 'count'),
    med_salary=('salary_year_avg', 'median')
).reset_index()

# Define states and jobs to compare
states = ['California', 'Florida', 'Georgia', 'Illinois', 'New York', 'Texas']
jobs = ['Business Analyst', 'Data Analyst', 'Data Engineer', 'Data Scientist', 
        'Machine Learning Engineer', 'Senior Data Analyst', 'Senior Data Engineer', 
        'Senior Data Scientist', 'Software Engineer']

# Create comparison dataframe
diff_data = []

for state in states:
    remote_state = remote_agg[remote_agg['state'] == state]
    onsite_state = onsite_agg[onsite_agg['state'] == state]
    
    merged = pd.merge(remote_state, onsite_state, 
                     on='job_title_short', 
                     suffixes=('_remote', '_onsite'))
    
    merged['diff_pct'] = ((merged['med_salary_remote'] - merged['med_salary_onsite']) / 
                          merged['med_salary_onsite'])
    
    for _, row in merged.iterrows():
        diff_data.append({
            'job': row['job_title_short'],
            'state': state,
            'diff_pct': row['diff_pct']
        })

diff_df = pd.DataFrame(diff_data)

# Pivot for display
diff_pivot = diff_df.pivot(index='job', columns='state', values='diff_pct')

print("\nRemote vs On-Site Salary Difference (%)")
print("Positive values = Remote pays MORE, Negative values = Remote pays LESS")
print("\n")

# Format as percentage
display(diff_pivot.style.format("{:.1%}").background_gradient(cmap='RdYlGn', axis=None))

print("\n‚úì Analysis complete!")

## Close Database Connection

In [ ]:
conn.close()
print("Database connection closed.")